:root{
    --black: #000000;
    --beige: #F4DFC8;
    --light-beige: #F4EAE0;
    --white: #FAF6F0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color: var(--black);
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
}

*{
    transition: all 0.5s ease-out allow-discrete;
    transition: 200ms linear 50ms;
}

a{
    text-decoration: none;
    color: var(--beige);
}

p{
    color: var(--white);
}

#navigation{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: var(--beige);
    z-index: 1;
}

#navigation > div{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.line{
    position: absolute;
    top: 120px;
    height: 5px;
    border-radius: 40%;
    background-color: var(--black);
}

#navigation > div > a{
    font-size: 50px;
    text-decoration: none;
    color: var(--black);
}

#navigation > div > a:hover{
    color: grey;
}

nav{
    height: 100px;
    position: relative;
    text-align: center;
    background-color: var(--beige);
    z-index: 2;
}

nav > div, nav > a{
    margin-top: 10px;
    position: absolute;
    height: 80px;
}

.flex{
    display: flex;
}

.flexCenter{
    justify-content: center;
    align-items: center;
}

#shoppingCart, #menu{
    width: 80px;
}

#shoppingCart{
    right: 20px;
}

#shoppingCart > img{
    height: 60px;
}

#menu{
    left: 20px;
}

#menu:hover{
    cursor: grab;
}

#logo{
    width: 400px;
}

#logo > img{
    height: 50px;
}

#landingPage{
    height: 800px;
    width: 100%;
    background-image: url(assets/speakers.jpg);
    background-position: center;
    position: relative;
}

.darken{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#welcomeText{
    position: absolute;
    margin-left: 40px;
    color: var(--light-beige);
    top: 50%;
    transform: translateY(-50%);
    font-size: 80px;
}

.offer{
    height: 600px;
    width: 80%;
    margin: auto;
    position: relative;
    background-color: var(--light-beige);
    border-radius: 20px;
    padding: 50px;
}

.infotext > h1, .infotext > p, .order > p{
    color: #000000;
    text-decoration: none;
}

.infotext{
    height: 100%;
    margin-left: 30%;
    color: var(black);
    position: relative;
}

.infotext > h1{
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: 300;
}

.infotext > p {
    font-size: 30px;
    padding-left: 50px;
}

.offerImage{
    width: 30%;
    max-width: 400px;
    background-image: url(/assets/cm7.webp);
    background-position: center;
    background-size: contain;
    display: inline-block;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 0px black;
}

.offerImage:hover{
    box-shadow: 0px 0px 50px 2px black;
}

.dummy{
    margin-top: 100%;
}

.absCenterTop{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absCenterLeft{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absCenter{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.order{
    height: 80px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    bottom: 20px;
    right: 20px;
}

.order > p{
    font-size: 43.5px;
}

.addToCart{
    position: relative;
    height: 80px;
    width: 80px;
    background-color: var(--beige);
    border-radius: 20px;
}

.addToCart:hover{
    background-color: var(--white);
    box-shadow: 0px 0px 30px 2px;
}

.addToCart > img{
    height: 60px;
}

h1{
    font-weight: 100;
    font-size: 50px;
    color: var(--beige); 
    text-decoration: underline 4px;
    -webkit-text-decoration-line: underline;
}

#offers{
    flex-direction: column;
    gap: 50px;
    padding: 0px 10%; 
}

footer{
    height: 20px;
    color: var(--white);
    font-size: 20px;
    right: 20px;
    text-align: right;
    gap: 10px;
    align-items: center;
    bottom: 10px;
    width: 100%;
    position: absolute;
}

.placeholderFooter{
    height: 50px;
}